<% layout("/layouts/boilerplate")%>
<div class="row">
<div class="col-8 offset-2" >
   <br><br>
    <form method = "POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
       <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name ="listing[title]" placeholder="Enter title" type="text" class="form-control" required>
        <div class="valid-feedback">
      Looks good!
    </div>
       </div>
        
       <div class="mb-3">
        <label for="description" class="form-label">Descrption</label>
        <textarea name="listing[description]" class = "form-control"required ></textarea>
        <div class="invalid-feedback">
        Please Enter valid discription.
      </div>
       </div>

        <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input name= "listing[image]"class="form-control" type="file" required>
        <div class="invalid-feedback">
        Please upload valid image .
        </div>
        </div>
         
       <div class="select mb-3">
  <label for="Category" class="form-label">Category</label>
  <select class="form-select" id="Category" name="listing[category]">
    <option selected>Select type</option>
    <option value="TRENDING">Trending</option>
    <option value="ROOMS">Rooms</option>
    <option value="ICONIC_CITIES">Iconic Cities</option>
    <option value="MOUNTAIN">Mountain</option>
    <option value="CASTLES">Castles</option>
    <option value="AMAZING_POOLS">Amazing pools</option>
    <option value="FARMS">Farms</option>
    <option value="CAMPING">Camping</option>
    <option value="ARCTIC">Arctic</option>
  </select>
</div>

        <div class="row">
        <div class="mb-3 col-md-4" >
        <label for="Price"  class="form-label">Price: </label>   
        <input name = "listing[price]" class="form-control"  required>
        <div class="invalid-feedback">
          Please enter valid price
        </div>
        </div>

        <div class="mb-3 col-md-4">
        <label for="location" class="form-label">Location:</label>
        <input name ="listing[location]" class="form-control" type="text" required>
        <div class="invalid-feedback">
        Please enter valid location.
         </div>
        </div>
        </div>

        <div class="mb-3" >
        <label for="Country" class="form-label">Country:</label>
        <input name = "listing[country]" class="form-control" type="text" required>
        <div class="invalid-feedback">
        Please choose a valid country.
      </div>
        </div>
        
        <br><br>
        <button class="btn btn-dark add-btn" >Create</button>
        <br><br>
    </form>
</div>
</div>